body {
  font-family: 'Kosugi Maru', sans-serif;
}
.active-class {
  background-color: #dce5ec;
}
input {
  outline: none;
}
* {
  box-sizing: border-box;
  outline: none;
  resize: none;
}
button {
  border: none;
}
.button:active {
  transition: all 0.1s;
  transform: scale(95%);
}
